$color-headings:rgba(1,0,1,255);
$color-btn:rgba(1,0,1,255);
$color-btn-m:rgba(105,81,252,255);
$color-text:rgba(124,125,125,255);
$bg-footer:rgba(253,252,249,255);
$bg-sign:rgba(248,235,249,255);